{% extends 'base.html.twig' %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
{% block body %}
    {% include('utils/header.html.twig') %}
    <section class="section">

        <div class="container">
            <div class="row">
                <img src="{{ asset('image/bandeau.jpg') }}" >
            </div>

            <div class="is-flex is-flex-direction-row is-justify-content-center">

                <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-evenly">
                    <a class="mr-2">Shop by brand</a>
                    <img class="mr-2" src="{{ asset('image/logoJordan.png') }}" width="45px" heigth="45px">
                    <img class="mr-2" src="{{ asset('image/logoAdidas.png') }}" width="45px" heigth="45px">
                    <img src="{{ asset('image/logoNike.png') }}" width="45px" heigth="45px">
                </div>
            </div>

            <div class="row">
                <h4 class>Most Popular</h4>
            </div>


            {% set nb = 0 %}
            <div class="row">
                <div class="is-flex is-flex-direction-row is-justify-content-center">

                    {%  for p in product | slice(0,4)%}

                    {% set nb = nb+1 %}


                        <div class="card mr-5">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img style="height: 200px; width: 300px" src="{{ asset(p.image) }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">{{ p.name }}</p>
                                    </div>
                                </div>

                                <div class="content">
                                    {{ p.price}}
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="/product/{{ p.getId() }}" class="card-footer-item">More detail</a>
                                <a href="#" class="card-footer-item">Add to favorite</a>
                            </footer>
                        </div>

                        {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </section>
    {% include('utils/footer.html.twig') %}
{% endblock %}