{% extends 'base.html.twig' %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
{% block body %}
    {% include('utils/header.html.twig') %}
    <div class="columns mt-3">

        <div class="column"></div>

        <div class="column is-two-thirds">
			{% set subtotal=0 %}
			{% for product in products %}
			{% set subtotal = subtotal + (product.price*product.quantity) %}
            <div class="box">
                <div class="columns">

                    <div class="column is-one-fifth">
						{% if product.image is not null %}
                        <img src="{{ asset(product.image) }}" alt="Placeholder image">
						{% endif %}
                    </div>

                    <div class="column is-one-fifth">
                        <a href="{{ path('product_detail', {id: product.product_id}) }}">{{ product.name }}</a>
                    </div>

                    <div class="column is-one-fifth">
                        <p><br>Size 10.5US</p>
                    </div>


                    <div class="column is-one-fifth">
                        <div class="row mt-2">
                            <a class="button has-text-right">
                            <span class="icon is-small">
                                <i class="fas fa-solid fa-minus"></i>
                            </span>
                            </a>

                            <p class="mr-2 ml-2">{{ product.quantity }}</p>

                            <a class="button has-text-left">
                            <span class="icon is-small">
                                <i class="fas fa-solid fa-plus"></i>
                            </span>
                            </a>
                        </div>
                    </div>

                    <div class="column is-one-fifth">
                        <p><br>{{ product.price * product.quantity }}$</p>
                    </div>

                </div>
            </div>
			{% endfor %}
        </div>

        <div class="column"></div>
    </div>

    <div class="row">

                        <div class="columns mr-6">

                            <div class="column is-one-quarter"></div>

                            <div class="column is-one-quarter"></div>

                            <div class="column is-one-quarter"></div>

                            <div class="column is-one-quarter">

                                <p>Subtotal : <strong>${{ subtotal }}</strong></p>
                                <a class="button is-rounded is-success" href="{{ path('checkout') }}">Checkout</a>

                            </div>

                        </div>
    </div>

    <div class="row mt-6"></div>

    {% include('utils/footer.html.twig') %}
{% endblock %}
