<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('home_page') }}">
            <img src="{{ asset('image/logo.png') }}" >
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="{{ path('product_pages') }}">
                Our products
            </a>

            <a class="navbar-item">
                About us
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{{ path('shopping_cart') }}" class ="icon has-text-black">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="{{ path('profile') }}" class ="icon has-text-black">
                        <i class="fas fa-user"></i>
                    </a>
					{% if app.user %}
					<a href="{{ path('app_logout') }}" class ="button">
                        <p>Logout</p>
                    </a>
					{% else %}
					<a href="{{ path('app_login') }}" class ="button">
                        <p>Login</p>
                    </a>
					{% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>